/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

html body {
    font-family: sans-serif;
}
body h1 {
    font-size: 2em;
    font-weight: bold;
}

.actions div{
    padding:5px;
}


.column-header{
    position:sticky;
    align-self: start;
    top:0;
}